.bg-dark{
    background-color: black;
}

.bg-white{
    background-color: white;
}

.bold{
    font-weight: bold;
}

.img_type{
    max-width: 200px;
    max-height: 200px;
}
.title{
    color: black;
    font-size: 3.750em;
    line-height: 1.25;
    font-weight: bold;
    letter-spacing: -0.94px;
    font-family: 'LL Brown Regular Web','Open Sans',sans-serif;
}