.bg-white {
    background-color: white;
}
.check{
    max-width: 20px;
    max-height: 20px;
    margin: 5px;
    margin-right: 10px;
}
.picture {
    max-width: 100%;
}

.bg-navbar {
    background-color: #f3f5f6;
}

.title {
    color: black;
    font-size: 1.85rem;
    line-height: 1.25;
    font-weight: bold;
    letter-spacing: -0.94px;
    font-family: 'LL Brown Regular Web', 'Open Sans', sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #f3f5f6;
}
.card2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
}
.notCont{
    top: 0%;
}
.noti{
    width: 30%;
    min-width: 30%;
    
}
@media only screen and (max-width: 600px) {
    .notCont{
        top: 13%;
    }
    .noti{
        width: 85%;
        min-width: 85%;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.first {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1em;
}

.maintitle {
    font-size: 2.2em;
    line-height: 1.33;
    font-weight: bold;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
}

.second {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: .5px;
    margin-bottom: 35px;
}

.img-text {
    font-size: 1.250em;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 10px;
    font-family: 'LL Brown Regular Web', 'Open Sans', sans-serif;
}

.img-text-desc {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: .4px;
    font-family: 'LL Brown Regular Web', 'Open Sans', sans-serif;
}

.brd-line {
    border-top: solid 2px #0061AA;
    width: 100%;
    margin-bottom: 30px;
}